body {
    background-color: #F8F8F8;
}
div.container {
    width: 380px;
    padding: 10px 50px 80px;
    background-color: white;
    margin: 20px auto;
    box-shadow: 1px 0px 10px, -1px 0px 10px ;
}
h1,h3 {
    text-align: center;
    font-family: Cambria, "Times New Roman", serif;
}
p {
    margin:0;
}
fieldset {
    padding:20px;
    width: 215px;
    margin: auto;
}
input {
    margin-bottom:10px;
}
input[type=text],input[type=password] {
    width:120px;
}
input[type=submit] {
    float:right;
}
label {
    width:80px;
    float:left;
    margin-right:10px;
}
.error {
    background-color: #FFECEC;
    padding: 10px 15px;

    margin: 0 0 20px 0;
    border: 1px solid red;
    box-shadow: 1px 0px 3px red ;
}